body{
    display: flex;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    align-content: flex-end
}
.main__info-block{
    border-left: 5px solid orange;
    padding: 10px;
    color: gray;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.main__info-block_block{
    border-left: 5px solid orange;
    padding: 10px;
    color: gray;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main__list{
   margin: 0;
}
