


.header{
    display: block;
    height: 116px;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    align-content: flex-end;
}
.header__title_1{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    align-items: center;      
}
.link{
    color: darkgreen;
}

.main-body{
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-body__title{
      color: rgb(77, 78, 77);
      font-family: Georgia, 'Times New Roman', Times, serif;
}


 

